{
  "openapi": "3.1.0",
  "info": { "title": "Reducto API", "version": "v1.11.57-53-gd264b2c6d" },
  "servers": [{ "url": "https://platform.reducto.ai" }],
  "paths": {
    "/parse": {
      "post": {
        "summary": "Parse",
        "operationId": "parse_parse_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/SyncParseConfig" },
                  { "$ref": "#/components/schemas/AsyncParseConfig" }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    { "$ref": "#/components/schemas/ParseResponse" },
                    { "$ref": "#/components/schemas/AsyncParseResponse" }
                  ],
                  "title": "Response Parse Parse Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "SkippableHTTPBearer": [] }]
      }
    },
    "/parse_async": {
      "post": {
        "summary": "Async Parse",
        "operationId": "async_parse_parse_async_post",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/AsyncParseConfig" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/AsyncParseResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "SkippableHTTPBearer": [] }]
      }
    },
    "/extract": {
      "post": {
        "summary": "Extract",
        "operationId": "extract_extract_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/SyncExtractConfig" },
                  { "$ref": "#/components/schemas/AsyncExtractConfig" }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/V3ExtractResponse" },
                    { "$ref": "#/components/schemas/AsyncExtractResponse" }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "SkippableHTTPBearer": [] }]
      }
    },
    "/extract_async": {
      "post": {
        "summary": "Extract Async",
        "operationId": "extract_async_extract_async_post",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/AsyncExtractConfig" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/AsyncExtractResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "SkippableHTTPBearer": [] }]
      }
    },
    "/split": {
      "post": {
        "summary": "Split",
        "operationId": "split_split_post",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SyncSplitConfig" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SplitResponse" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "SkippableHTTPBearer": [] }]
      }
    },
    "/split_async": {
      "post": {
        "summary": "Split Async",
        "operationId": "split_async_split_async_post",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/config__v3__AsyncSplitConfig" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/AsyncSplitResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "SkippableHTTPBearer": [] }]
      }
    },
    "/edit": {
      "post": {
        "summary": "Edit",
        "operationId": "edit_edit_post",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EditConfig" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EditResponse" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "SkippableHTTPBearer": [] }]
      }
    },
    "/edit_async": {
      "post": {
        "summary": "Edit Async",
        "operationId": "edit_async_edit_async_post",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AsyncEditConfig" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/AsyncEditResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "SkippableHTTPBearer": [] }]
      }
    },
    "/pipeline": {
      "post": {
        "summary": "Pipeline",
        "operationId": "pipeline_pipeline_post",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/V3PipelineConfig" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/PipelineResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "SkippableHTTPBearer": [] }]
      }
    },
    "/pipeline_async": {
      "post": {
        "summary": "Pipeline Async",
        "operationId": "pipeline_async_pipeline_async_post",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/V3AsyncPipelineConfig" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/AsyncPipelineResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "SkippableHTTPBearer": [] }]
      }
    },
    "/classify": {
      "post": {
        "summary": "Classify",
        "operationId": "classify_classify_post",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ClassifyConfig" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ClassifyResponse" } }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "SkippableHTTPBearer": [] }]
      }
    },
    "/job/{job_id}": {
      "get": {
        "summary": "Retrieve Parse",
        "operationId": "retrieve_parse_job__job_id__get",
        "security": [{ "SkippableHTTPBearer": [] }],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Job Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    { "$ref": "#/components/schemas/AsyncJobResponse" },
                    { "$ref": "#/components/schemas/EnhancedAsyncJobResponse" }
                  ],
                  "title": "Response Retrieve Parse Job  Job Id  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/cancel/{job_id}": {
      "post": {
        "summary": "Cancel Job",
        "operationId": "cancel_job_cancel__job_id__post",
        "security": [{ "SkippableHTTPBearer": [] }],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Job Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "summary": "Get Jobs",
        "operationId": "get_jobs_jobs_get",
        "security": [{ "SkippableHTTPBearer": [] }],
        "parameters": [
          {
            "name": "exclude_configs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Exclude raw_config from response to reduce size",
              "default": false,
              "title": "Exclude Configs"
            },
            "description": "Exclude raw_config from response to reduce size"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Cursor for pagination. Use the next_cursor from the previous response to fetch the next page.",
              "title": "Cursor"
            },
            "description": "Cursor for pagination. Use the next_cursor from the previous response to fetch the next page."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Maximum number of jobs to return per page. Defaults to 100, max 500.",
              "default": 100,
              "title": "Limit"
            },
            "description": "Maximum number of jobs to return per page. Defaults to 100, max 500."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobsResponse" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/upload": {
      "post": {
        "summary": "Upload",
        "operationId": "upload_upload_post",
        "security": [{ "SkippableHTTPBearer": [] }],
        "parameters": [
          {
            "name": "extension",
            "in": "query",
            "required": false,
            "schema": { "anyOf": [{ "type": "string" }, { "type": "null" }], "title": "Extension" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": { "schema": { "$ref": "#/components/schemas/Body_upload_upload_post" } },
            "application/json": { "schema": { "$ref": "#/components/schemas/Body_upload_upload_post" } }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UploadResponse" } } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        }
      }
    },
    "/configure_webhook": {
      "post": {
        "summary": "Webhook Portal",
        "operationId": "webhook_portal_configure_webhook_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "type": "string", "title": "Response Webhook Portal Configure Webhook Post" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } }
            }
          }
        },
        "security": [{ "SkippableHTTPBearer": [] }]
      }
    },
    "/version": {
      "get": {
        "summary": "Get Version",
        "operationId": "get_version_version_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "type": "string", "title": "Response Get Version Version Get" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdvancedCitationsConfig": {
        "properties": {
          "numerical_confidence": {
            "type": "boolean",
            "title": "Numerical Confidence",
            "description": "If True, enable numeric citation confidence scores. Defaults to False.",
            "default": false
          }
        },
        "type": "object",
        "title": "AdvancedCitationsConfig"
      },
      "AdvancedProcessingOptions": {
        "properties": {
          "ocr_system": {
            "type": "string",
            "enum": ["highres", "multilingual", "combined", "reducto", "legacy", "reducto-v2"],
            "title": "Ocr System",
            "description": "The OCR system to use. Highres is recommended for documents with English characters. Legacy uses an alternative OCR backend.",
            "default": "highres"
          },
          "table_output_format": {
            "type": "string",
            "enum": ["html", "json", "md", "jsonbbox", "dynamic", "ai_json", "csv"],
            "title": "Table Output Format",
            "description": "The mode to use for table output. Dynamic returns md for simpler tables and html for more complex tables.",
            "default": "html"
          },
          "merge_tables": {
            "type": "boolean",
            "title": "Merge Tables",
            "description": "A flag to indicate if consecutive tables with the same number of columns should be merged across breaks and spaces.",
            "default": false
          },
          "include_formula_information": {
            "type": "boolean",
            "title": "Include Formula Information",
            "description": "If True, preserve formula information in spreadsheet cells by wrapping text with LaTeX formula commands during parsing.",
            "default": false
          },
          "include_color_information": {
            "type": "boolean",
            "title": "Include Color Information",
            "description": "If True, preserve Excel cell colours in the extracted spreadsheet text using LaTeX colour commands.",
            "default": false
          },
          "include_dropdown_information": {
            "type": "boolean",
            "title": "Include Dropdown Information",
            "description": "If True, include dropdown options and the selected value when rendering spreadsheet cells.",
            "default": false
          },
          "continue_hierarchy": {
            "type": "boolean",
            "title": "Continue Hierarchy",
            "description": "A flag to indicate if the hierarchy of the document should be continued from chunk to chunk.",
            "default": true
          },
          "keep_line_breaks": {
            "type": "boolean",
            "title": "Keep Line Breaks",
            "description": "If line breaks should be preserved in the text.",
            "default": false
          },
          "page_range": {
            "anyOf": [
              { "$ref": "#/components/schemas/PageRange" },
              { "items": { "$ref": "#/components/schemas/PageRange" }, "type": "array" },
              { "items": { "type": "integer" }, "type": "array" },
              { "items": { "type": "string" }, "type": "array" }
            ],
            "title": "Page Range",
            "description": "The page range to process (1-indexed). By default, the entire document is processed. For spreadsheets, you can also provide a list of sheet names.",
            "default": {}
          },
          "force_file_extension": {
            "type": "string",
            "title": "Force File Extension",
            "description": "Force the URL to be downloaded as a specific file extension (e.g. .png)."
          },
          "large_table_chunking": {
            "$ref": "#/components/schemas/LargeTableChunkingConfig",
            "description": "The configuration options for large table chunking (currently only supported on spreadsheet and CSV files).",
            "default": { "enabled": true, "size": 50 }
          },
          "spreadsheet_table_clustering": {
            "type": "string",
            "enum": ["default", "disabled", "intelligent"],
            "title": "Spreadsheet Table Clustering",
            "description": "In a spreadsheet with different tables inside, we enable splitting up the tables by default. Intelligent mode applies more powerful models for superior accuracy, at 5× the default per-cell rate. Disabling will register as one large table.",
            "default": "default"
          },
          "add_page_markers": {
            "type": "boolean",
            "title": "Add Page Markers",
            "description": "If True, add page markers to the output (e.g. [[PAGE 1 BEGINS HERE]] and [[PAGE 1 ENDS HERE]] added as blocks to the content). Defaults to False.",
            "default": false
          },
          "remove_text_formatting": {
            "type": "boolean",
            "title": "Remove Text Formatting",
            "description": "If True, remove text formatting from the output (e.g. hyphens for list items). Defaults to False.",
            "default": false
          },
          "return_ocr_data": {
            "type": "boolean",
            "title": "Return Ocr Data",
            "description": "If True, return OCR data in the result. Defaults to False.",
            "default": false
          },
          "document_password": {
            "type": "string",
            "title": "Document Password",
            "description": "Password to decrypt password-protected documents."
          },
          "filter_line_numbers": {
            "type": "boolean",
            "title": "Filter Line Numbers",
            "description": "If True, filter out line numbers from the output. Defaults to False.",
            "default": false
          },
          "read_comments": {
            "type": "boolean",
            "title": "Read Comments",
            "description": "If True, pull in PDF comments from the document. Defaults to False.",
            "default": false
          },
          "persist_results": {
            "type": "boolean",
            "title": "Persist Results",
            "description": "If True, persist the results indefinitely. Defaults to False.",
            "default": false
          },
          "exclude_hidden_sheets": {
            "type": "boolean",
            "title": "Exclude Hidden Sheets",
            "description": "Skip hidden sheets in Excel files. Defaults to False.",
            "default": false
          },
          "exclude_hidden_rows_cols": {
            "type": "boolean",
            "title": "Exclude Hidden Rows Cols",
            "description": "Skip hidden rows and cols in Excel files. Defaults to False.",
            "default": false
          },
          "enable_change_tracking": {
            "type": "boolean",
            "title": "Enable Change Tracking",
            "description": "Enables model-based detection of underlines and strikethroughs, adding <u>/<s> tags to OCR text. Works with any extraction mode. Defaults to False.",
            "default": false
          },
          "enable_highlight_detection": {
            "type": "boolean",
            "title": "Enable Highlight Detection",
            "description": "If True, enable highlight detection. Highlighted text will be surrounded by <mark> tags in the output. Defaults to False.",
            "default": false
          },
          "ignore_watermarks": {
            "type": "boolean",
            "title": "Ignore Watermarks",
            "description": "If True, ignore and remove watermarks from OCR output. Defaults to False.",
            "default": false
          }
        },
        "type": "object",
        "title": "AdvancedProcessingOptions"
      },
      "AgentExtractConfig": {
        "properties": {
          "enabled": {
            "type": "boolean",
            "title": "Enabled",
            "description": "If agent extraction should be used for extraction.",
            "default": false
          }
        },
        "type": "object",
        "title": "AgentExtractConfig"
      },
      "AgentInTheLoop": {
        "properties": {
          "enabled": {
            "type": "boolean",
            "title": "Enabled",
            "description": "If True, include the agent in the loop for the extraction.",
            "default": false
          },
          "fields_to_verify": {
            "items": { "type": "string" },
            "type": "array",
            "title": "Fields To Verify",
            "description": "The name of the array that the agent will extract. Only one field is currently allowed.",
            "default": []
          }
        },
        "type": "object",
        "title": "AgentInTheLoop"
      },
      "AgenticTablesOverrides": { "properties": {}, "type": "object", "title": "AgenticTablesOverrides" },
      "ArrayExtractConfig": {
        "properties": {
          "enabled": {
            "type": "boolean",
            "title": "Enabled",
            "description": "Array extraction allows you to extract long lists of information from lengthy documents. It makes parallel calls on overlapping sections of the document.",
            "default": false
          },
          "mode": {
            "type": "string",
            "enum": ["auto", "legacy", "streaming", "no_overlap"],
            "title": "Mode",
            "description": "The array extraction version to use.",
            "default": "legacy"
          },
          "pages_per_segment": {
            "type": "integer",
            "title": "Pages Per Segment",
            "description": "Length of each segment, in pages, for parallel calls with array extraction.",
            "default": 10
          },
          "streaming_extract_item_density": {
            "type": "integer",
            "title": "Streaming Extract Item Density",
            "description": "Number of items to extract in each stream call. Lower numbers will increase quality but be much slower. 50 works well for most documents with tables.",
            "default": 50
          }
        },
        "type": "object",
        "title": "ArrayExtractConfig"
      },
      "AsyncEditConfig": {
        "properties": {
          "document_url": {
            "anyOf": [{ "type": "string" }, { "$ref": "#/components/schemas/UploadResponse" }],
            "title": "Document Url",
            "description": "The URL of the document to be processed. You can provide one of the following:\n1. A publicly available URL\n2. A presigned S3 URL\n3. A reducto:// prefixed URL obtained from the /upload endpoint after directly uploading a document\n"
          },
          "edit_instructions": {
            "type": "string",
            "title": "Edit Instructions",
            "description": "The instructions for the edit."
          },
          "edit_options": {
            "$ref": "#/components/schemas/EditOptions",
            "default": { "color": "#FF0000", "enable_overflow_pages": false, "flatten": false }
          },
          "form_schema": {
            "anyOf": [
              { "items": { "$ref": "#/components/schemas/EditWidget" }, "type": "array" },
              { "type": "null" }
            ],
            "title": "Form Schema",
            "description": "Form schema for PDF forms. List of widgets with their types, descriptions, and bounding boxes. Only works for PDFs."
          },
          "priority": {
            "type": "boolean",
            "title": "Priority",
            "description": "If True, attempts to process the job with priority if the user has priority processing budget available; by default, sync jobs are prioritized above async jobs.",
            "default": false
          },
          "webhook": {
            "$ref": "#/components/schemas/WebhookConfigNew",
            "default": { "mode": "disabled", "channels": [] }
          }
        },
        "type": "object",
        "required": ["document_url", "edit_instructions"],
        "title": "AsyncEditConfig"
      },
      "AsyncEditResponse": {
        "properties": { "job_id": { "type": "string", "title": "Job Id" } },
        "type": "object",
        "required": ["job_id"],
        "title": "AsyncEditResponse"
      },
      "AsyncExtractConfig": {
        "properties": {
          "async": {
            "$ref": "#/components/schemas/config__v3__AsyncConfig",
            "description": "The configuration options for asynchronous processing (default synchronous).",
            "default": { "priority": false }
          },
          "input": {
            "anyOf": [
              { "type": "string" },
              { "items": { "type": "string" }, "type": "array" },
              { "$ref": "#/components/schemas/UploadResponse" }
            ],
            "title": "Input",
            "description": "For parse/split/extract pipelines, the URL of the document to be processed. You can provide one of the following:\n            1. A publicly available URL\n            2. A presigned S3 URL\n            3. A reducto:// prefixed URL obtained from the /upload endpoint after directly uploading a document\n            4. A jobid:// prefixed URL obtained from a previous /parse invocation\n            5. A list of URLs (for multi-document pipelines, V3 API only)\n\n            For edit pipelines, this should be a string containing the edit instructions "
          },
          "parsing": {
            "$ref": "#/components/schemas/ParseOptions",
            "description": "The configuration options for parsing the document. If you are passing in a jobid:// URL for the file, then this configuration will be ignored.",
            "default": {
              "enhance": { "agentic": [], "intelligent_ordering": false, "summarize_figures": true },
              "retrieval": {
                "chunking": { "chunk_mode": "disabled", "chunk_overlap": 0 },
                "embedding_optimized": false,
                "filter_blocks": []
              },
              "formatting": {
                "add_page_markers": false,
                "include": [],
                "merge_tables": false,
                "table_output_format": "dynamic"
              },
              "spreadsheet": {
                "clustering": "accurate",
                "exclude": [],
                "include": [],
                "split_large_tables": { "enabled": true, "size": 50 }
              },
              "settings": {
                "embed_pdf_metadata": false,
                "extraction_mode": "hybrid",
                "force_url_result": false,
                "ocr_system": "standard",
                "persist_results": false,
                "return_images": [],
                "return_ocr_data": false
              }
            }
          },
          "instructions": {
            "$ref": "#/components/schemas/Instructions",
            "description": "The instructions to use for the extraction.",
            "default": { "schema": {}, "system_prompt": "Be precise and thorough." }
          },
          "settings": {
            "$ref": "#/components/schemas/ExtractSettings",
            "description": "The settings to use for the extraction.",
            "default": {
              "include_images": false,
              "optimize_for_latency": false,
              "array_extract": false,
              "deep_extract": false,
              "citations": { "enabled": false, "numerical_confidence": true }
            }
          }
        },
        "type": "object",
        "required": ["input"],
        "title": "AsyncExtractConfig"
      },
      "AsyncExtractConfigNew": {
        "properties": {
          "options": {
            "$ref": "#/components/schemas/BaseProcessingOptions",
            "default": {
              "ocr_mode": "standard",
              "extraction_mode": "ocr",
              "chunking": { "chunk_mode": "variable", "chunk_overlap": 0 },
              "table_summary": { "enabled": false },
              "figure_summary": {
                "advanced_chart_agent": false,
                "enabled": false,
                "enhanced": false,
                "override": false
              },
              "filter_blocks": [],
              "force_url_result": false
            }
          },
          "advanced_options": {
            "$ref": "#/components/schemas/AdvancedProcessingOptions",
            "default": {
              "ocr_system": "highres",
              "table_output_format": "html",
              "merge_tables": false,
              "include_formula_information": false,
              "include_color_information": false,
              "include_dropdown_information": false,
              "continue_hierarchy": true,
              "keep_line_breaks": false,
              "page_range": {},
              "large_table_chunking": { "enabled": true, "size": 50 },
              "spreadsheet_table_clustering": "default",
              "add_page_markers": false,
              "remove_text_formatting": false,
              "return_ocr_data": false,
              "filter_line_numbers": false,
              "read_comments": false,
              "persist_results": false,
              "exclude_hidden_sheets": false,
              "exclude_hidden_rows_cols": false,
              "enable_change_tracking": false,
              "enable_highlight_detection": false,
              "ignore_watermarks": false,
              "track_offsets": false,
              "track_word_offsets": false,
              "track_line_offsets": false
            }
          },
          "experimental_options": {
            "$ref": "#/components/schemas/ExperimentalProcessingOptions",
            "default": {
              "enrich": { "enabled": false, "mode": "standard" },
              "layout_enrichment": false,
              "native_docx_parsing": false,
              "native_office_conversion": false,
              "disable_office_external_links": false,
              "enable_checkboxes": false,
              "enable_equations": false,
              "rotate_pages": true,
              "rotate_figures": false,
              "enable_scripts": false,
              "return_figure_images": false,
              "return_table_images": false,
              "return_page_images": false,
              "layout_model": "default",
              "embed_text_metadata_pdf": false,
              "detect_signatures": false,
              "agentic_layout": false,
              "danger_filter_wide_boxes": false,
              "chunk_table_blocks": false,
              "use_fast_reducto": false,
              "use_local_ocr_pipeline": false,
              "use_gemini_experimental_model": false,
              "latency_sensitive": false,
              "promptable_agentic_text_on_regular_blocks": false,
              "deprio_kv_regions": false,
              "postprocess_v2": false,
              "fast_agentic_tables": false,
              "auto_formatting": false,
              "shadow_tag": "",
              "shadow_original_job_id": "",
              "shadow_original_org_id": "",
              "shadow_original_org_name": "",
              "shadow_affected_domains": [],
              "force_save_layout_intermediates": false
            }
          },
          "schema": { "title": "Schema", "description": "The JSON schema to use for extraction." },
          "system_prompt": {
            "type": "string",
            "title": "System Prompt",
            "description": "A system prompt to use for the extraction. This is a general prompt that is applied to the entire document before any other prompts.",
            "default": "Be precise and thorough."
          },
          "deep_extract": {
            "type": "boolean",
            "title": "Deep Extract",
            "description": "If True, use Deep Extract, an agentic extraction mode that iteratively refines its output to achieve near-perfect accuracy. Best for complex documents where accuracy is critical.",
            "default": false
          },
          "generate_citations": {
            "type": "boolean",
            "title": "Generate Citations",
            "description": "If citations should be generated for the extracted content.",
            "default": false
          },
          "array_extract": {
            "$ref": "#/components/schemas/ArrayExtractConfig",
            "description": "The configuration options for array extract",
            "default": {
              "enabled": false,
              "mode": "legacy",
              "pages_per_segment": 10,
              "streaming_extract_item_density": 50
            }
          },
          "use_chunking": {
            "type": "boolean",
            "title": "Use Chunking",
            "description": "If chunking should be used for the extraction. Defaults to False.",
            "default": false
          },
          "include_images": {
            "type": "boolean",
            "title": "Include Images",
            "description": "If images should be passed directly for extractions. Can only be enabled for documents with less than 10 pages. Defaults to False.",
            "default": false
          },
          "spreadsheet_agent": {
            "type": "boolean",
            "title": "Spreadsheet Agent",
            "description": "If spreadsheet agent should be used for extraction.",
            "default": false
          },
          "experimental_table_citations": {
            "type": "boolean",
            "title": "Experimental Table Citations",
            "description": "If table citations should be generated for the extracted content.",
            "default": true
          },
          "priority": {
            "type": "boolean",
            "title": "Priority",
            "description": "If True, attempts to process the job with priority if the user has priority processing budget available; by default, sync jobs are prioritized above async jobs.",
            "default": false
          },
          "citations_options": {
            "$ref": "#/components/schemas/AdvancedCitationsConfig",
            "description": "The configuration options for citations.",
            "default": { "numerical_confidence": false }
          },
          "agent_extract": {
            "$ref": "#/components/schemas/AgentExtractConfig",
            "description": "The configuration options for agent extract",
            "default": { "enabled": false }
          },
          "latency_sensitive": {
            "type": "boolean",
            "title": "Latency Sensitive",
            "description": "If True, the job will be processed with lower latency and higher priority. Uses 2x the cost of a regular job. Defaults to False.",
            "default": false
          },
          "document_url": {
            "anyOf": [
              { "type": "string" },
              { "items": { "type": "string" }, "type": "array" },
              { "$ref": "#/components/schemas/UploadResponse" }
            ],
            "title": "Document Url",
            "description": "The URL of the document to be processed. You can provide one of the following:\n1. A publicly available URL\n2. A presigned S3 URL\n3. A reducto:// prefixed URL obtained from the /upload endpoint after directly uploading a document\n4. A job_id (jobid://) or a list of job_ids (jobid://) obtained from a previous /parse endpoint\n"
          },
          "webhook": {
            "$ref": "#/components/schemas/WebhookConfigNew",
            "default": { "mode": "disabled", "channels": [] }
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["schema", "document_url"],
        "title": "AsyncExtractConfigNew"
      },
      "AsyncExtractResponse": {
        "properties": { "job_id": { "type": "string", "title": "Job Id" } },
        "type": "object",
        "required": ["job_id"],
        "title": "AsyncExtractResponse"
      },
      "AsyncJobResponse": {
        "properties": {
          "status": {
            "type": "string",
            "enum": ["Pending", "Completed", "Failed", "Idle"],
            "title": "Status"
          },
          "result": {
            "anyOf": [
              { "$ref": "#/components/schemas/ParseResponse" },
              { "$ref": "#/components/schemas/ExtractResponse" },
              { "$ref": "#/components/schemas/SplitResponse" },
              { "$ref": "#/components/schemas/EditResponse" },
              { "$ref": "#/components/schemas/PipelineResponse" },
              { "$ref": "#/components/schemas/V3ExtractResponse" },
              { "$ref": "#/components/schemas/ClassifyResponse" },
              { "type": "null" }
            ],
            "title": "Result"
          },
          "progress": { "anyOf": [{ "type": "number" }, { "type": "null" }], "title": "Progress" },
          "reason": { "anyOf": [{ "type": "string" }, { "type": "null" }], "title": "Reason" }
        },
        "type": "object",
        "required": ["status"],
        "title": "AsyncJobResponse"
      },
      "AsyncParseConfig": {
        "properties": {
          "async": {
            "$ref": "#/components/schemas/config__v3__AsyncConfig",
            "description": "The configuration options for asynchronous processing (default synchronous).",
            "default": { "priority": false }
          },
          "input": {
            "anyOf": [
              { "type": "string" },
              { "items": { "type": "string" }, "type": "array" },
              { "$ref": "#/components/schemas/UploadResponse" }
            ],
            "title": "Input",
            "description": "For parse/split/extract pipelines, the URL of the document to be processed. You can provide one of the following:\n            1. A publicly available URL\n            2. A presigned S3 URL\n            3. A reducto:// prefixed URL obtained from the /upload endpoint after directly uploading a document\n            4. A jobid:// prefixed URL obtained from a previous /parse invocation\n            5. A list of URLs (for multi-document pipelines, V3 API only)\n\n            For edit pipelines, this should be a string containing the edit instructions "
          },
          "enhance": {
            "$ref": "#/components/schemas/Enhance",
            "default": { "agentic": [], "summarize_figures": true, "intelligent_ordering": false }
          },
          "retrieval": {
            "$ref": "#/components/schemas/Retrieval",
            "default": {
              "chunking": { "chunk_mode": "disabled", "chunk_overlap": 0 },
              "filter_blocks": [],
              "embedding_optimized": false
            }
          },
          "formatting": {
            "$ref": "#/components/schemas/Formatting",
            "default": {
              "add_page_markers": false,
              "table_output_format": "dynamic",
              "merge_tables": false,
              "include": []
            }
          },
          "spreadsheet": {
            "$ref": "#/components/schemas/Spreadsheet",
            "default": {
              "split_large_tables": { "enabled": true, "size": 50 },
              "include": [],
              "clustering": "accurate",
              "exclude": []
            }
          },
          "settings": {
            "$ref": "#/components/schemas/Settings",
            "default": {
              "ocr_system": "standard",
              "extraction_mode": "hybrid",
              "force_url_result": false,
              "return_ocr_data": false,
              "return_images": [],
              "embed_pdf_metadata": false,
              "persist_results": false
            }
          },
          "queue_priority": {
            "$ref": "#/components/schemas/QueuePriority",
            "description": "Queue priority. 'batch' for non-urgent work that processes when spare GPU capacity is available.",
            "default": "auto"
          }
        },
        "type": "object",
        "required": ["input"],
        "title": "AsyncParseConfig"
      },
      "AsyncParseConfigNew": {
        "properties": {
          "options": {
            "$ref": "#/components/schemas/BaseProcessingOptions",
            "default": {
              "ocr_mode": "standard",
              "extraction_mode": "ocr",
              "chunking": { "chunk_mode": "variable", "chunk_overlap": 0 },
              "table_summary": { "enabled": false },
              "figure_summary": {
                "advanced_chart_agent": false,
                "enabled": false,
                "enhanced": false,
                "override": false
              },
              "filter_blocks": [],
              "force_url_result": false
            }
          },
          "advanced_options": {
            "$ref": "#/components/schemas/AdvancedProcessingOptions",
            "default": {
              "ocr_system": "highres",
              "table_output_format": "html",
              "merge_tables": false,
              "include_formula_information": false,
              "include_color_information": false,
              "include_dropdown_information": false,
              "continue_hierarchy": true,
              "keep_line_breaks": false,
              "page_range": {},
              "large_table_chunking": { "enabled": true, "size": 50 },
              "spreadsheet_table_clustering": "default",
              "add_page_markers": false,
              "remove_text_formatting": false,
              "return_ocr_data": false,
              "filter_line_numbers": false,
              "read_comments": false,
              "persist_results": false,
              "exclude_hidden_sheets": false,
              "exclude_hidden_rows_cols": false,
              "enable_change_tracking": false,
              "enable_highlight_detection": false,
              "ignore_watermarks": false,
              "track_offsets": false,
              "track_word_offsets": false,
              "track_line_offsets": false
            }
          },
          "experimental_options": {
            "$ref": "#/components/schemas/ExperimentalProcessingOptions",
            "default": {
              "enrich": { "enabled": false, "mode": "standard" },
              "layout_enrichment": false,
              "native_docx_parsing": false,
              "native_office_conversion": false,
              "disable_office_external_links": false,
              "enable_checkboxes": false,
              "enable_equations": false,
              "rotate_pages": true,
              "rotate_figures": false,
              "enable_scripts": false,
              "return_figure_images": false,
              "return_table_images": false,
              "return_page_images": false,
              "layout_model": "default",
              "embed_text_metadata_pdf": false,
              "detect_signatures": false,
              "agentic_layout": false,
              "danger_filter_wide_boxes": false,
              "chunk_table_blocks": false,
              "use_fast_reducto": false,
              "use_local_ocr_pipeline": false,
              "use_gemini_experimental_model": false,
              "latency_sensitive": false,
              "promptable_agentic_text_on_regular_blocks": false,
              "deprio_kv_regions": false,
              "postprocess_v2": false,
              "fast_agentic_tables": false,
              "auto_formatting": false,
              "shadow_tag": "",
              "shadow_original_job_id": "",
              "shadow_original_org_id": "",
              "shadow_original_org_name": "",
              "shadow_affected_domains": [],
              "force_save_layout_intermediates": false
            }
          },
          "document_url": {
            "anyOf": [{ "type": "string" }, { "$ref": "#/components/schemas/UploadResponse" }],
            "title": "Document Url",
            "description": "The URL of the document to be processed. You can provide one of the following:\n1. A publicly available URL\n2. A presigned S3 URL\n3. A reducto:// prefixed URL obtained from the /upload endpoint after directly uploading a document"
          },
          "priority": {
            "type": "boolean",
            "title": "Priority",
            "description": "If True, attempts to process the job with priority if the user has priority processing budget available; by default, sync jobs are prioritized above async jobs.",
            "default": false
          },
          "webhook": {
            "$ref": "#/components/schemas/WebhookConfigNew",
            "default": { "mode": "disabled", "channels": [] }
          },
          "queue_priority": {
            "$ref": "#/components/schemas/QueuePriority",
            "description": "Queue priority. 'batch' places the job in a lower-priority queue that runs when spare GPU capacity is available.",
            "default": "auto"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["document_url"],
        "title": "AsyncParseConfigNew"
      },
      "AsyncParseResponse": {
        "properties": { "job_id": { "type": "string", "title": "Job Id" } },
        "type": "object",
        "required": ["job_id"],
        "title": "AsyncParseResponse"
      },
      "AsyncPipelineConfig": {
        "properties": {
          "document_url": {
            "anyOf": [
              { "type": "string" },
              { "items": { "type": "string" }, "type": "array" },
              { "$ref": "#/components/schemas/UploadResponse" }
            ],
            "title": "Document Url",
            "description": "The URL of the document to be processed. You can provide one of the following:\n            1. A publicly available URL\n            2. A presigned S3 URL\n            3. A reducto:// prefixed URL obtained from the /upload endpoint after directly uploading a document\n            4. [API-131] A list of URLs (for multi-document pipelines, V3 API only)\n"
          },
          "pipeline_id": {
            "type": "string",
            "title": "Pipeline Id",
            "description": "The ID of the pipeline to use for the document."
          },
          "settings": { "$ref": "#/components/schemas/PipelineSettings", "default": {} },
          "webhook": {
            "$ref": "#/components/schemas/WebhookConfigNew",
            "default": { "mode": "disabled", "channels": [] }
          },
          "priority": {
            "type": "boolean",
            "title": "Priority",
            "description": "If True, attempts to process the job with priority if the user has priority processing budget available; by default, sync jobs are prioritized above async jobs.",
            "default": false
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["document_url", "pipeline_id"],
        "title": "AsyncPipelineConfig"
      },
      "AsyncPipelineResponse": {
        "properties": { "job_id": { "type": "string", "title": "Job Id" } },
        "type": "object",
        "required": ["job_id"],
        "title": "AsyncPipelineResponse"
      },
      "AsyncSplitResponse": {
        "properties": { "job_id": { "type": "string", "title": "Job Id" } },
        "type": "object",
        "required": ["job_id"],
        "title": "AsyncSplitResponse"
      },
      "BaseProcessingOptions": {
        "properties": {
          "ocr_mode": {
            "type": "string",
            "enum": ["standard", "agentic"],
            "title": "Ocr Mode",
            "description": "The mode to use for OCR. Agentic mode adds an extra pass, correcting any table/text mistakes at a small cost.",
            "default": "standard"
          },
          "extraction_mode": {
            "type": "string",
            "enum": ["ocr", "metadata", "hybrid"],
            "title": "Extraction Mode",
            "description": "The mode to use for extraction. Metadata/hybrid are only recommended with high quality metadata embeddings.",
            "default": "ocr"
          },
          "chunking": {
            "$ref": "#/components/schemas/ChunkingConfig",
            "description": "The configuration options for chunking. Chunking is commonly used for RAG usecases.",
            "default": { "chunk_mode": "variable", "chunk_overlap": 0 }
          },
          "table_summary": {
            "$ref": "#/components/schemas/TableSummaryConfig",
            "description": "The configuration options for table summarization.",
            "default": { "enabled": false }
          },
          "figure_summary": {
            "$ref": "#/components/schemas/FigureSummaryConfig",
            "description": "The configuration options for figure summarization.",
            "default": {
              "enabled": false,
              "override": false,
              "enhanced": false,
              "advanced_chart_agent": false
            }
          },
          "filter_blocks": {
            "items": {
              "type": "string",
              "enum": [
                "Header",
                "Footer",
                "Title",
                "Section Header",
                "Page Number",
                "List Item",
                "Figure",
                "Table",
                "Key Value",
                "Text",
                "Comment",
                "Signature"
              ]
            },
            "type": "array",
            "title": "Filter Blocks",
            "description": "A list of block types to filter from chunk content. Pass blocks to filter them from content. By default, no blocks are filtered.",
            "default": []
          },
          "force_url_result": {
            "type": "boolean",
            "title": "Force Url Result",
            "description": "Force the result to be returned in URL form (by default only used for very large responses).",
            "default": false
          }
        },
        "type": "object",
        "title": "BaseProcessingOptions"
      },
      "Body_upload_upload_post": {
        "properties": {
          "file": { "anyOf": [{ "type": "string", "format": "binary" }, { "type": "null" }], "title": "File" }
        },
        "type": "object",
        "title": "Body_upload_upload_post"
      },
      "BoundingBox": {
        "properties": {
          "left": { "type": "number", "title": "Left" },
          "top": { "type": "number", "title": "Top" },
          "width": { "type": "number", "title": "Width" },
          "height": { "type": "number", "title": "Height" },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "The page number of the bounding box (1-indexed)."
          },
          "original_page": {
            "type": "integer",
            "title": "Original Page",
            "description": "The page number in the original document of the bounding box (1-indexed)."
          }
        },
        "type": "object",
        "required": ["left", "top", "width", "height", "page"],
        "title": "BoundingBox"
      },
      "CategoryConfidence": {
        "properties": {
          "category": { "type": "string", "title": "Category" },
          "confidence": { "type": "number", "title": "Confidence" },
          "criteria_confidence": {
            "items": { "$ref": "#/components/schemas/CriteriaConfidence" },
            "type": "array",
            "title": "Criteria Confidence"
          }
        },
        "type": "object",
        "required": ["category", "confidence", "criteria_confidence"],
        "title": "CategoryConfidence",
        "description": "Confidence result for a category."
      },
      "Chunking": {
        "properties": {
          "chunk_mode": {
            "type": "string",
            "enum": ["variable", "section", "page", "disabled", "block", "page_sections"],
            "title": "Chunk Mode",
            "description": "Choose how to partition chunks. Variable mode chunks by character length and visual context. Section mode chunks by section headers. Page mode chunks according to pages. Page sections mode chunks first by page, then by sections within each page. Disabled returns one single chunk.",
            "default": "disabled"
          },
          "chunk_size": {
            "anyOf": [{ "type": "integer" }, { "type": "null" }],
            "title": "Chunk Size",
            "description": "The approximate size of chunks (in characters) that the document will be split into. Defaults to null, in which case the chunk size is variable between 250 - 1500 characters."
          },
          "chunk_overlap": {
            "type": "integer",
            "title": "Chunk Overlap",
            "description": "Number of characters of overlap to include from adjacent chunks. Defaults to 0.",
            "default": 0
          }
        },
        "type": "object",
        "title": "Chunking"
      },
      "ChunkingConfig": {
        "properties": {
          "chunk_mode": {
            "type": "string",
            "enum": ["variable", "section", "page", "block", "disabled", "page_sections"],
            "title": "Chunk Mode",
            "description": "Choose how to partition chunks. Variable mode chunks by character length and visual context. Section mode chunks by section headers. Page mode chunks according to pages. Page sections mode chunks first by page, then by sections within each page. Disabled returns one single chunk.",
            "default": "variable"
          },
          "chunk_size": {
            "type": "integer",
            "title": "Chunk Size",
            "description": "The approximate size of chunks (in characters) that the document will be split into. Defaults to None, in which case the chunk size is variable between 250 - 1500 characters."
          },
          "chunk_overlap": {
            "type": "integer",
            "title": "Chunk Overlap",
            "description": "Number of characters of overlap to include from adjacent chunks. Defaults to 0.",
            "default": 0
          }
        },
        "type": "object",
        "title": "ChunkingConfig"
      },
      "Citations": {
        "properties": {
          "enabled": {
            "type": "boolean",
            "title": "Enabled",
            "description": "If True, include citations in the extraction.",
            "default": false
          },
          "numerical_confidence": {
            "type": "boolean",
            "title": "Numerical Confidence",
            "description": "If True, enable numeric citation confidence scores. Defaults to True.",
            "default": true
          }
        },
        "type": "object",
        "title": "Citations"
      },
      "ClassificationCategory": {
        "properties": {
          "category": {
            "type": "string",
            "title": "Category",
            "description": "The category name/label that documents will be classified into (e.g., 'invoice', 'contract', 'receipt')."
          },
          "criteria": {
            "items": { "type": "string" },
            "type": "array",
            "title": "Criteria",
            "description": "A list of criteria, keywords, or descriptions that define what characteristics a document must have to be classified into this category (e.g., ['contains billing information', 'has itemized charges'])."
          }
        },
        "type": "object",
        "required": ["category", "criteria"],
        "title": "ClassificationCategory",
        "description": "A single classification category with its matching criteria."
      },
      "ClassifyConfig": {
        "properties": {
          "persist_results": {
            "type": "boolean",
            "title": "Persist Results",
            "description": "If True, persist the results indefinitely. Defaults to False.",
            "default": false
          },
          "input": {
            "anyOf": [
              { "type": "string" },
              { "items": { "type": "string" }, "type": "array" },
              { "$ref": "#/components/schemas/UploadResponse" }
            ],
            "title": "Input",
            "description": "For parse/split/extract pipelines, the URL of the document to be processed. You can provide one of the following:\n            1. A publicly available URL\n            2. A presigned S3 URL\n            3. A reducto:// prefixed URL obtained from the /upload endpoint after directly uploading a document\n            4. A jobid:// prefixed URL obtained from a previous /parse invocation\n            5. A list of URLs (for multi-document pipelines, V3 API only)\n\n            For edit pipelines, this should be a string containing the edit instructions "
          },
          "classification_schema": {
            "items": { "$ref": "#/components/schemas/ClassificationCategory" },
            "type": "array",
            "title": "Classification Schema",
            "description": "A list of classification categories and their matching criteria.",
            "default": []
          },
          "page_range": {
            "anyOf": [
              { "$ref": "#/components/schemas/PageRange" },
              { "items": { "$ref": "#/components/schemas/PageRange" }, "type": "array" },
              { "items": { "type": "integer" }, "type": "array" },
              { "type": "null" }
            ],
            "title": "Page Range",
            "description": "The page range to process (1-indexed). By default, the first 5 pages are used. If more than 25 pages are selected, only the first 25 (after sorting) are used. Only applies to PDFs; ignored for other document types."
          },
          "document_metadata": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Document Metadata",
            "description": "Optional document-level metadata to include in classification prompts."
          }
        },
        "type": "object",
        "required": ["input"],
        "title": "ClassifyConfig"
      },
      "ClassifyResponse": {
        "properties": {
          "job_id": { "type": "string", "title": "Job Id" },
          "result": { "$ref": "#/components/schemas/ClassifyResponseCategory" },
          "response_confidence": {
            "anyOf": [{ "$ref": "#/components/schemas/ResponseConfidence" }, { "type": "null" }]
          },
          "duration": {
            "anyOf": [{ "type": "number" }, { "type": "null" }],
            "title": "Duration",
            "description": "The duration of the classify request in seconds."
          }
        },
        "type": "object",
        "required": ["job_id", "result"],
        "title": "ClassifyResponse",
        "description": "Response from classify job - returned when polling /job/{job_id}"
      },
      "ClassifyResponseCategory": {
        "properties": { "category": { "type": "string", "title": "Category" } },
        "type": "object",
        "required": ["category"],
        "title": "ClassifyResponseCategory"
      },
      "CriteriaConfidence": {
        "properties": {
          "criterion": { "type": "string", "title": "Criterion" },
          "confidence": { "type": "string", "enum": ["high", "low"], "title": "Confidence" }
        },
        "type": "object",
        "required": ["criterion", "confidence"],
        "title": "CriteriaConfidence",
        "description": "Confidence result for a single criterion."
      },
      "CustomerQueueOverrides": { "properties": {}, "type": "object", "title": "CustomerQueueOverrides" },
      "DeepSplit": {
        "properties": {
          "name": { "type": "string", "title": "Name" },
          "pages": {
            "items": { "$ref": "#/components/schemas/DeepSplitPageEvidence" },
            "type": "array",
            "title": "Pages"
          },
          "partitions": {
            "anyOf": [
              { "items": { "$ref": "#/components/schemas/DeepSplitPartition" }, "type": "array" },
              { "type": "null" }
            ],
            "title": "Partitions"
          }
        },
        "type": "object",
        "required": ["name", "pages"],
        "title": "DeepSplit"
      },
      "DeepSplitPageEvidence": {
        "properties": {
          "page_number": { "type": "integer", "title": "Page Number" },
          "evidence": { "type": "string", "title": "Evidence" },
          "confidence": {
            "anyOf": [{ "type": "string", "enum": ["high", "medium", "low"] }, { "type": "null" }],
            "title": "Confidence"
          }
        },
        "type": "object",
        "required": ["page_number", "evidence"],
        "title": "DeepSplitPageEvidence"
      },
      "DeepSplitPartition": {
        "properties": {
          "name": { "type": "string", "title": "Name" },
          "pages": {
            "items": { "$ref": "#/components/schemas/DeepSplitPageEvidence" },
            "type": "array",
            "title": "Pages"
          }
        },
        "type": "object",
        "required": ["name", "pages"],
        "title": "DeepSplitPartition"
      },
      "DeepSplitResult": {
        "properties": {
          "splits": {
            "items": { "$ref": "#/components/schemas/DeepSplit" },
            "type": "array",
            "title": "Splits"
          }
        },
        "type": "object",
        "required": ["splits"],
        "title": "DeepSplitResult"
      },
      "DirectWebhookConfig": {
        "properties": {
          "mode": { "type": "string", "const": "direct", "title": "Mode", "default": "direct" },
          "url": { "type": "string", "title": "Url" }
        },
        "type": "object",
        "required": ["url"],
        "title": "DirectWebhookConfig"
      },
      "EditConfig": {
        "properties": {
          "document_url": {
            "anyOf": [{ "type": "string" }, { "$ref": "#/components/schemas/UploadResponse" }],
            "title": "Document Url",
            "description": "The URL of the document to be processed. You can provide one of the following:\n1. A publicly available URL\n2. A presigned S3 URL\n3. A reducto:// prefixed URL obtained from the /upload endpoint after directly uploading a document\n"
          },
          "edit_instructions": {
            "type": "string",
            "title": "Edit Instructions",
            "description": "The instructions for the edit."
          },
          "edit_options": {
            "$ref": "#/components/schemas/EditOptions",
            "default": { "color": "#FF0000", "enable_overflow_pages": false, "flatten": false }
          },
          "form_schema": {
            "anyOf": [
              { "items": { "$ref": "#/components/schemas/EditWidget" }, "type": "array" },
              { "type": "null" }
            ],
            "title": "Form Schema",
            "description": "Form schema for PDF forms. List of widgets with their types, descriptions, and bounding boxes. Only works for PDFs."
          },
          "priority": {
            "type": "boolean",
            "title": "Priority",
            "description": "If True, attempts to process the job with priority if the user has priority processing budget available; by default, sync jobs are prioritized above async jobs.",
            "default": true
          }
        },
        "type": "object",
        "required": ["document_url", "edit_instructions"],
        "title": "EditConfig"
      },
      "EditOptions": {
        "properties": {
          "color": {
            "type": "string",
            "pattern": "^#[0-9A-Fa-f]{6}$",
            "title": "Color",
            "description": "The color to use for edits, in hex format.",
            "default": "#FF0000"
          },
          "font_size": {
            "anyOf": [{ "type": "number", "maximum": 72, "minimum": 1 }, { "type": "null" }],
            "title": "Font Size",
            "description": "The font size (in points) to use for filled text fields. If not specified, font size is automatically calculated based on field dimensions."
          },
          "llm_provider_preference": {
            "anyOf": [{ "type": "string", "enum": ["openai", "anthropic", "google"] }, { "type": "null" }],
            "title": "Llm Provider Preference",
            "description": "The LLM provider to use for edit processing. If not specified, defaults to 'google'"
          },
          "enable_overflow_pages": {
            "type": "boolean",
            "title": "Enable Overflow Pages",
            "description": "If True, creates overflow pages for text that doesn't fit in form fields. Defaults to False.",
            "default": false
          },
          "flatten": {
            "type": "boolean",
            "title": "Flatten",
            "description": "If True, flattens form fields after filling, converting them to static content. Defaults to False.",
            "default": false
          }
        },
        "type": "object",
        "title": "EditOptions"
      },
      "EditResponse": {
        "properties": {
          "document_url": {
            "type": "string",
            "title": "Document Url",
            "description": "Presigned URL to download the edited document."
          },
          "form_schema": {
            "anyOf": [
              { "items": { "$ref": "#/components/schemas/EditWidget" }, "type": "array" },
              { "type": "null" }
            ],
            "title": "Form Schema",
            "description": "Form schema for PDF forms. List of widgets with their types, descriptions, and bounding boxes."
          },
          "usage": {
            "anyOf": [{ "$ref": "#/components/schemas/ParseUsage" }, { "type": "null" }],
            "description": "Usage information for the edit operation, including number of pages and credits charged."
          }
        },
        "type": "object",
        "required": ["document_url"],
        "title": "EditResponse"
      },
      "EditWidget": {
        "properties": {
          "bbox": {
            "$ref": "#/components/schemas/BoundingBox",
            "description": "Bounding box coordinates of the widget"
          },
          "description": {
            "type": "string",
            "title": "Description",
            "description": "Description of the widget extracted from the document"
          },
          "type": {
            "type": "string",
            "enum": ["text", "checkbox", "radio", "dropdown", "barcode"],
            "title": "Type",
            "description": "Type of the form widget"
          },
          "fill": {
            "type": "boolean",
            "title": "Fill",
            "description": "If True (default), the system will attempt to fill this widget. If False, the widget will be created but intentionally left unfilled.",
            "default": true
          },
          "value": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Value",
            "description": "If provided, this value will be used directly instead of attempting to intelligently determine the field value."
          },
          "font_size": {
            "anyOf": [{ "type": "number", "maximum": 72, "minimum": 1 }, { "type": "null" }],
            "title": "Font Size",
            "description": "Font size in points for this specific field. Takes priority over the global font_size in EditOptions. If not set, falls back to the global font_size, then to auto-calculated sizing."
          }
        },
        "type": "object",
        "required": ["bbox", "description", "type"],
        "title": "EditWidget"
      },
      "Enhance": {
        "properties": {
          "agentic": {
            "items": {
              "anyOf": [
                { "$ref": "#/components/schemas/TableAgentic" },
                { "$ref": "#/components/schemas/FigureAgentic" },
                { "$ref": "#/components/schemas/TextAgentic" }
              ]
            },
            "type": "array",
            "title": "Agentic",
            "description": "Agentic uses vision language models to enhance the accuracy of the output of different types of extraction. This will incur a cost and latency increase.",
            "default": []
          },
          "summarize_figures": {
            "type": "boolean",
            "title": "Summarize Figures",
            "description": "If True, summarize figures using a small vision language model. Defaults to True.",
            "default": true
          },
          "intelligent_ordering": {
            "type": "boolean",
            "title": "Intelligent Ordering",
            "description": "If True, use an advanced vision language model to improve reading order accuracy, with a small increase in latency. Defaults to False.",
            "default": false
          }
        },
        "type": "object",
        "title": "Enhance"
      },
      "EnhancedAsyncJobResponse": {
        "properties": {
          "status": {
            "type": "string",
            "enum": ["Pending", "Completed", "Failed", "Idle"],
            "title": "Status"
          },
          "result": {
            "anyOf": [
              { "$ref": "#/components/schemas/ParseResponse" },
              { "$ref": "#/components/schemas/ExtractResponse" },
              { "$ref": "#/components/schemas/SplitResponse" },
              { "$ref": "#/components/schemas/EditResponse" },
              { "$ref": "#/components/schemas/PipelineResponse" },
              { "$ref": "#/components/schemas/V3ExtractResponse" },
              { "$ref": "#/components/schemas/ClassifyResponse" },
              { "type": "null" }
            ],
            "title": "Result"
          },
          "progress": { "anyOf": [{ "type": "number" }, { "type": "null" }], "title": "Progress" },
          "reason": { "anyOf": [{ "type": "string" }, { "type": "null" }], "title": "Reason" },
          "type": {
            "anyOf": [
              { "type": "string", "enum": ["Parse", "Extract", "Split", "Edit", "Pipeline", "Classify"] },
              { "type": "null" }
            ],
            "title": "Type"
          },
          "num_pages": { "anyOf": [{ "type": "integer" }, { "type": "null" }], "title": "Num Pages" },
          "total_pages": { "anyOf": [{ "type": "integer" }, { "type": "null" }], "title": "Total Pages" },
          "source": { "anyOf": [{}, { "type": "null" }], "title": "Source" },
          "duration": { "anyOf": [{ "type": "number" }, { "type": "null" }], "title": "Duration" },
          "created_at": {
            "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }],
            "title": "Created At"
          },
          "raw_config": { "anyOf": [{ "type": "string" }, { "type": "null" }], "title": "Raw Config" },
          "bucket": { "anyOf": [{}, { "type": "null" }], "title": "Bucket" }
        },
        "type": "object",
        "required": ["status"],
        "title": "EnhancedAsyncJobResponse"
      },
      "EnrichConfig": {
        "properties": {
          "enabled": {
            "type": "boolean",
            "title": "Enabled",
            "description": "If enabled, a large language/vision model will be used to postprocess the extracted content. Note: enabling enrich requires tables be outputted in markdown format. Defaults to False.",
            "default": false
          },
          "mode": {
            "type": "string",
            "enum": ["standard", "page", "table"],
            "title": "Mode",
            "description": "The mode to use for enrichment. Defaults to standard",
            "default": "standard"
          },
          "prompt": {
            "type": "string",
            "title": "Prompt",
            "description": "Add information to the prompt for enrichment."
          }
        },
        "type": "object",
        "title": "EnrichConfig"
      },
      "ExperimentalProcessingOptions": {
        "properties": {
          "enrich": {
            "$ref": "#/components/schemas/EnrichConfig",
            "description": "The configuration options for enrichment.",
            "default": { "enabled": false, "mode": "standard" }
          },
          "layout_enrichment": {
            "type": "boolean",
            "title": "Layout Enrichment",
            "description": "Layout enrichment is a beta feature that improves our layout and reading order performance at the cost of increased latency. Defaults to False.",
            "default": false
          },
          "native_office_conversion": {
            "type": "boolean",
            "title": "Native Office Conversion",
            "description": "Instead of using LibreOffice, when enabled, this flag uses a Windows VM to convert files. This is slower but more accurate.",
            "default": false
          },
          "disable_office_external_links": {
            "type": "boolean",
            "title": "Disable Office External Links",
            "description": "If True, configure LibreOffice conversion to block linked content from untrusted documents. Defaults to True on-prem and False elsewhere.",
            "default": false
          },
          "enable_checkboxes": {
            "type": "boolean",
            "title": "Enable Checkboxes",
            "description": "Use an experimental checkbox detection model to add checkboxes to the output, defaults to False",
            "default": false
          },
          "enable_equations": {
            "type": "boolean",
            "title": "Enable Equations",
            "description": "Use an experimental equation detection model to add equations to the output, defaults to False",
            "default": false
          },
          "rotate_pages": {
            "type": "boolean",
            "title": "Rotate Pages",
            "description": "Use an orientation model to detect and rotate pages as needed, defaults to True",
            "default": true
          },
          "rotate_figures": {
            "type": "boolean",
            "title": "Rotate Figures",
            "description": "Use an orientation model to detect and rotate figures as needed, defaults to False",
            "default": false
          },
          "enable_scripts": {
            "type": "boolean",
            "title": "Enable Scripts",
            "description": "Add <sub> tag around subscripts and <sup> tag around superscripts, defaults to False",
            "default": false
          },
          "return_figure_images": {
            "type": "boolean",
            "title": "Return Figure Images",
            "description": "If figure images should be returned in the result. Defaults to False.",
            "default": false
          },
          "return_table_images": {
            "type": "boolean",
            "title": "Return Table Images",
            "description": "If table images should be returned in the result. Defaults to False.",
            "default": false
          },
          "return_page_images": {
            "type": "boolean",
            "title": "Return Page Images",
            "description": "If full page images should be returned in the result. Defaults to False.",
            "default": false
          },
          "layout_model": {
            "type": "string",
            "enum": [
              "default",
              "beta",
              "rfdetr",
              "rfdetr0302",
              "rfdetr0303",
              "rfdetrbase0218",
              "rfdetr0304",
              "qwen35_27b_0317"
            ],
            "title": "Layout Model",
            "description": "The layout model to use for the document. This will be deprecated in the future.",
            "default": "default"
          },
          "embed_text_metadata_pdf": {
            "type": "boolean",
            "title": "Embed Text Metadata Pdf",
            "description": "If extracted OCR text metadata should be embedded back into the returned PDF, overwriting any existing text. Defaults to False.",
            "default": false
          },
          "detect_signatures": {
            "type": "boolean",
            "title": "Detect Signatures",
            "description": "If True, detect signatures in the document. Defaults to False.",
            "default": false
          },
          "danger_filter_wide_boxes": {
            "type": "boolean",
            "title": "Danger Filter Wide Boxes",
            "description": "You probably shouldn't use this. If True, filter out boxes with width greater than 50% of the document width. Defaults to False. You probably don't want to use this.",
            "default": false
          },
          "user_specified_timeout_seconds": {
            "anyOf": [{ "type": "number" }, { "type": "null" }],
            "title": "User Specified Timeout Seconds",
            "description": "A user specified timeout, defaults to None"
          },
          "chunk_table_blocks": {
            "type": "boolean",
            "title": "Chunk Table Blocks",
            "description": "If True, split table blocks into smaller chunks based on the specified chunk size in the chunking option. Defaults to False.",
            "default": false
          },
          "latency_sensitive": {
            "type": "boolean",
            "title": "Latency Sensitive",
            "description": "If True, the job will be processed with lower latency and higher priority. Uses 2x the cost of a regular job. Defaults to False.",
            "default": false
          },
          "promptable_agentic_text_on_regular_blocks": {
            "type": "boolean",
            "title": "Promptable Agentic Text On Regular Blocks",
            "description": "If True, enable two-stage LLM pipeline for agentic text correction on regular text blocks. Defaults to False.",
            "default": false
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "ExperimentalProcessingOptions"
      },
      "ExtractAlpha": {
        "properties": {},
        "additionalProperties": true,
        "type": "object",
        "title": "ExtractAlpha"
      },
      "ExtractCitationsOverrides": {
        "properties": {},
        "type": "object",
        "title": "ExtractCitationsOverrides"
      },
      "ExtractConfig": {
        "properties": {
          "document_url": {
            "anyOf": [{ "type": "string" }, { "items": { "type": "string" }, "type": "array" }],
            "title": "Document Url"
          },
          "parse_config": {
            "$ref": "#/components/schemas/ProcessingOptions",
            "description": "The configuration options for extraction.",
            "default": {
              "version": "v1",
              "pdf_ocr": "ocr",
              "ocr_system": "textract",
              "ocr_mode": "standard",
              "table_output_format": "html",
              "infer_table_color": false,
              "include_color_information": false,
              "include_formula_information": false,
              "include_dropdown_information": false,
              "chunk_mode": "variable",
              "chunk_overlap": 0,
              "disable_chunking": true,
              "continue_hierarchy": true,
              "mode": "document",
              "table_summary": true,
              "figure_summary": false,
              "figure_summary_override": false,
              "enhanced_figure_summary": false,
              "summarize_all_figures": false,
              "chart_extract": false,
              "intelligent_ordering": false,
              "enrich": false,
              "enrich_mode": "standard",
              "beta_layout_enrichment": false,
              "ignore_blocks": [],
              "chart_agent_return_overlays": false,
              "advanced_chart_agent": false,
              "merge_tables": false,
              "force_url_result": false,
              "use_fast_inference": false,
              "use_gpu_ocr": false,
              "max_batch_size": 10,
              "num_ocr_crops": 2,
              "timeout": 1800,
              "extra_metadata": {},
              "embed_text_metadata_pdf": false,
              "numerical_parse_confidence": true,
              "detect_signatures": false,
              "ignore_watermarks": false,
              "use_html_to_pdf": false,
              "enhanced_docx_conversion": false,
              "disable_office_external_links": false,
              "native_docx_parsing": false,
              "json_bbox": false,
              "experimental_large_spreadsheet_table_chunking": false,
              "use_checkboxes": false,
              "use_equations": false,
              "page_range": [{}],
              "keep_line_breaks": false,
              "overlap_threshold": 0.5,
              "large_table_chunking": true,
              "large_table_chunking_size": 50,
              "rotate_pages": false,
              "rotate_figures": false,
              "enable_change_tracking": false,
              "enable_highlight_detection": false,
              "enable_scripts": false,
              "enable_comments": false,
              "enable_hyperlinks": false,
              "return_figure_images": false,
              "return_table_images": false,
              "return_page_images": false,
              "spreadsheet_table_clustering": "default",
              "danger_filter_wide_boxes": false,
              "add_page_markers": false,
              "remove_text_formatting": false,
              "return_ocr_data": false,
              "filter_line_numbers": false,
              "layout_model": "default",
              "persist_results": false,
              "exclude_hidden_sheets": false,
              "exclude_hidden_rows_cols": false,
              "exclude_styling": false,
              "exclude_spreadsheet_images": false,
              "chunk_table_blocks": false,
              "use_gemini_experimental_model": false,
              "latency_sensitive": false,
              "agentic_layout": false,
              "agentic_layout_mode": "default",
              "track_offsets": false,
              "track_word_offsets": false,
              "track_line_offsets": false,
              "override_spreadsheet_chunking_size": false,
              "overrides": {},
              "debug_layout_stages": false,
              "special_processing_vertical_docs": false,
              "kv_onprem": false,
              "deprio_kv_regions": false,
              "postprocess_v2": false,
              "force_abtest_ordering": false,
              "promptable_agentic_text_on_regular_blocks": false,
              "use_fast_reducto": false,
              "auto_formatting": false,
              "shadow_tag": "",
              "shadow_original_job_id": "",
              "shadow_original_org_id": "",
              "shadow_original_org_name": "",
              "shadow_affected_domains": [],
              "force_save_layout_intermediates": false,
              "use_local_ocr_pipeline": false,
              "fast_agentic_tables": false
            }
          },
          "options": {
            "$ref": "#/components/schemas/ExtractConfigOptions",
            "description": "The configuration options for extraction.",
            "default": {
              "generate_citations": false,
              "numerical_confidence": false,
              "spreadsheet_agent": false,
              "experimental_table_citations": true,
              "array_extract": false,
              "array_extract_pages": 10,
              "extract_algorithm": "legacy",
              "streaming_extract_item_density": 50
            }
          },
          "schema": { "title": "Schema", "description": "The JSON schema to use for extraction." },
          "normalized_schema": {
            "title": "Normalized Schema",
            "description": "The normalized JSON schema to use for extraction."
          },
          "system_prompt": {
            "type": "string",
            "title": "System Prompt",
            "description": "A system prompt to use for the extraction. This is a general prompt that is applied to the entire document before any other prompts.",
            "default": "Be concise."
          },
          "alpha_deep_extract": { "type": "boolean", "title": "Alpha Deep Extract", "default": false },
          "alpha_table_citations": { "type": "boolean", "title": "Alpha Table Citations", "default": false },
          "deep_extract": { "type": "boolean", "title": "Deep Extract", "default": false },
          "deep_citations": { "type": "boolean", "title": "Deep Citations", "default": false },
          "deep_extract_current_output": {
            "anyOf": [{ "additionalProperties": true, "type": "object" }, { "type": "null" }],
            "title": "Deep Extract Current Output"
          },
          "alpha_big_extraction_model": {
            "type": "boolean",
            "title": "Alpha Big Extraction Model",
            "default": false
          },
          "use_gemini_experimental_model": {
            "type": "boolean",
            "title": "Use Gemini Experimental Model",
            "default": false
          },
          "extract_model": { "anyOf": [{ "type": "string" }, { "type": "null" }], "title": "Extract Model" },
          "extract_model_args": {
            "additionalProperties": true,
            "type": "object",
            "title": "Extract Model Args"
          },
          "internal_reducto_prompt": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Internal Reducto Prompt"
          },
          "include_images": { "type": "boolean", "title": "Include Images", "default": false },
          "agent_extract": {
            "type": "boolean",
            "title": "Agent Extract",
            "description": "If agent extraction should be used for extraction.",
            "default": false
          },
          "agent_extract_line_item_name": {
            "type": "string",
            "title": "Agent Extract Line Item Name",
            "description": "The name of the array that the agent will extract.",
            "default": ""
          },
          "latency_sensitive": {
            "type": "boolean",
            "title": "Latency Sensitive",
            "description": "If True, the job will be processed with lower latency and higher priority. Uses 2x the cost of a regular job. Defaults to False.",
            "default": false
          },
          "async": {
            "$ref": "#/components/schemas/config__internal__AsyncConfig",
            "description": "The configuration options for asynchronous processing (default synchronous).",
            "default": { "enabled": false, "priority": false }
          },
          "priority": {
            "type": "boolean",
            "title": "Priority",
            "description": "If True, attempts to process the job with priority if the user has priority processing budget available; by default, sync jobs are prioritized above async jobs.",
            "default": true
          },
          "user_config": {
            "additionalProperties": true,
            "type": "object",
            "title": "User Config",
            "description": "User-specific configuration options."
          }
        },
        "type": "object",
        "required": ["document_url", "schema"],
        "title": "ExtractConfig"
      },
      "ExtractConfigNew": {
        "properties": {
          "options": {
            "$ref": "#/components/schemas/BaseProcessingOptions",
            "default": {
              "ocr_mode": "standard",
              "extraction_mode": "ocr",
              "chunking": { "chunk_mode": "variable", "chunk_overlap": 0 },
              "table_summary": { "enabled": false },
              "figure_summary": {
                "advanced_chart_agent": false,
                "enabled": false,
                "enhanced": false,
                "override": false
              },
              "filter_blocks": [],
              "force_url_result": false
            }
          },
          "advanced_options": {
            "$ref": "#/components/schemas/AdvancedProcessingOptions",
            "default": {
              "ocr_system": "highres",
              "table_output_format": "html",
              "merge_tables": false,
              "include_formula_information": false,
              "include_color_information": false,
              "include_dropdown_information": false,
              "continue_hierarchy": true,
              "keep_line_breaks": false,
              "page_range": {},
              "large_table_chunking": { "enabled": true, "size": 50 },
              "spreadsheet_table_clustering": "default",
              "add_page_markers": false,
              "remove_text_formatting": false,
              "return_ocr_data": false,
              "filter_line_numbers": false,
              "read_comments": false,
              "persist_results": false,
              "exclude_hidden_sheets": false,
              "exclude_hidden_rows_cols": false,
              "enable_change_tracking": false,
              "enable_highlight_detection": false,
              "ignore_watermarks": false,
              "track_offsets": false,
              "track_word_offsets": false,
              "track_line_offsets": false
            }
          },
          "experimental_options": {
            "$ref": "#/components/schemas/ExperimentalProcessingOptions",
            "default": {
              "enrich": { "enabled": false, "mode": "standard" },
              "layout_enrichment": false,
              "native_docx_parsing": false,
              "native_office_conversion": false,
              "disable_office_external_links": false,
              "enable_checkboxes": false,
              "enable_equations": false,
              "rotate_pages": true,
              "rotate_figures": false,
              "enable_scripts": false,
              "return_figure_images": false,
              "return_table_images": false,
              "return_page_images": false,
              "layout_model": "default",
              "embed_text_metadata_pdf": false,
              "detect_signatures": false,
              "agentic_layout": false,
              "danger_filter_wide_boxes": false,
              "chunk_table_blocks": false,
              "use_fast_reducto": false,
              "use_local_ocr_pipeline": false,
              "use_gemini_experimental_model": false,
              "latency_sensitive": false,
              "promptable_agentic_text_on_regular_blocks": false,
              "deprio_kv_regions": false,
              "postprocess_v2": false,
              "fast_agentic_tables": false,
              "auto_formatting": false,
              "shadow_tag": "",
              "shadow_original_job_id": "",
              "shadow_original_org_id": "",
              "shadow_original_org_name": "",
              "shadow_affected_domains": [],
              "force_save_layout_intermediates": false
            }
          },
          "schema": { "title": "Schema", "description": "The JSON schema to use for extraction." },
          "system_prompt": {
            "type": "string",
            "title": "System Prompt",
            "description": "A system prompt to use for the extraction. This is a general prompt that is applied to the entire document before any other prompts.",
            "default": "Be precise and thorough."
          },
          "deep_extract": {
            "type": "boolean",
            "title": "Deep Extract",
            "description": "If True, use Deep Extract, an agentic extraction mode that iteratively refines its output to achieve near-perfect accuracy. Best for complex documents where accuracy is critical.",
            "default": false
          },
          "generate_citations": {
            "type": "boolean",
            "title": "Generate Citations",
            "description": "If citations should be generated for the extracted content.",
            "default": false
          },
          "array_extract": {
            "$ref": "#/components/schemas/ArrayExtractConfig",
            "description": "The configuration options for array extract",
            "default": {
              "enabled": false,
              "mode": "legacy",
              "pages_per_segment": 10,
              "streaming_extract_item_density": 50
            }
          },
          "use_chunking": {
            "type": "boolean",
            "title": "Use Chunking",
            "description": "If chunking should be used for the extraction. Defaults to False.",
            "default": false
          },
          "include_images": {
            "type": "boolean",
            "title": "Include Images",
            "description": "If images should be passed directly for extractions. Can only be enabled for documents with less than 10 pages. Defaults to False.",
            "default": false
          },
          "spreadsheet_agent": {
            "type": "boolean",
            "title": "Spreadsheet Agent",
            "description": "If spreadsheet agent should be used for extraction.",
            "default": false
          },
          "experimental_table_citations": {
            "type": "boolean",
            "title": "Experimental Table Citations",
            "description": "If table citations should be generated for the extracted content.",
            "default": true
          },
          "priority": {
            "type": "boolean",
            "title": "Priority",
            "description": "If True, attempts to process the job with priority if the user has priority processing budget available; by default, sync jobs are prioritized above async jobs.",
            "default": true
          },
          "citations_options": {
            "$ref": "#/components/schemas/AdvancedCitationsConfig",
            "description": "The configuration options for citations.",
            "default": { "numerical_confidence": false }
          },
          "agent_extract": {
            "$ref": "#/components/schemas/AgentExtractConfig",
            "description": "The configuration options for agent extract",
            "default": { "enabled": false }
          },
          "latency_sensitive": {
            "type": "boolean",
            "title": "Latency Sensitive",
            "description": "If True, the job will be processed with lower latency and higher priority. Uses 2x the cost of a regular job. Defaults to False.",
            "default": false
          },
          "document_url": {
            "anyOf": [
              { "type": "string" },
              { "items": { "type": "string" }, "type": "array" },
              { "$ref": "#/components/schemas/UploadResponse" }
            ],
            "title": "Document Url",
            "description": "The URL of the document to be processed. You can provide one of the following:\n1. A publicly available URL\n2. A presigned S3 URL\n3. A reducto:// prefixed URL obtained from the /upload endpoint after directly uploading a document\n4. A job_id (jobid://) or a list of job_ids (jobid://) obtained from a previous /parse endpoint\n"
          }
        },
        "additionalProperties": false,
        "type": "object",
[...]
